@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(244, 244, 244);
}

.top-sellers-section{
  margin: 0 8vw;
}

section h2{
  position: relative;
  left: 50%; /* Mueve el elemento al 50% del ancho del contenedor */
  transform: translateX(-50%); /* Ajusta su posición al centro */
}

section:hover h2::after{
  width: 100%;
  transition: all 0.2s linear;
}

.categories-container {
  margin: auto;
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 90vw;
  height: 70vh;
  padding: 0 16px;
}

.reviews-section {
  margin: 8vh 0;
  padding: 0 40px; /* Dar espacio para las flechas */
  overflow: hidden;
}

.reviews-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

