.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center; /* Centra las tarjetas horizontalmente */
}

.card {
  width: 35vmin;
  height: auto; /* Ajustar automáticamente la altura */
  position: relative;
  overflow: hidden;
}

.card .product-image {
  height: auto; /* Ajustar automáticamente la altura */
  width: 100%;
}

.add-to-cart-button {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.card:hover .add-to-cart-button {
  opacity: 1;
  visibility: visible;
}
