/* *{
  border: 1px solid red;
} */

.categorie-container {
  position: relative; /* Necesario para que el contenido `absolute` funcione */
  width: 40vw; /* Ocupa todo el ancho disponible */
  height: 40vw; /* Ajusta según el tamaño deseado */
  overflow: hidden; /* Previene desbordamientos internos */
  box-sizing: border-box;
}

.categorie-image {
  display: block; /* Elimina espacios adicionales alrededor */
  width: 100%; /* Se ajusta al ancho del contenedor */
  height: 100%; /* Ajusta la altura al contenedor */
  object-fit: cover; /* Recorta y ajusta la imagen al contenedor */
}

.categorie-container article {
  position: absolute; /* Superpone el contenido sobre la imagen */
  top: 0;
  left: 0;
  width: 100%; /* Asegura que ocupe el ancho completo del contenedor */
  height: 100%; /* Ocupa toda la altura */
  background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
  color: white; /* Color del texto */
  opacity: 0; /* Esconde inicialmente */
  display: flex; /* Flexbox para el contenido */
  flex-direction: column;
  justify-content: end; /* Alinea el texto en la parte inferior */
  align-items: center; /* Centra horizontalmente */
  transition: opacity 0.3s ease-in-out;
}

.categorie-container:hover article {
  opacity: 1; /* Muestra el contenido al pasar el mouse */
}

.categorie-title, .categorie-info {
  text-align: center; /* Centra el texto */
}

.categorie-title{
  font-size: clamp(1.3rem, 5vw, 2.3rem);
  text-transform: uppercase;
}

.categorie-info{
  margin-bottom: 4vh;
  margin-top: -10px;
  font-size: clamp(0.5rem, 3vw, 1.2rem);
}

@media (max-width: 768px) {
  .categories-container {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    gap: 12px; /* Espacio reducido entre elementos */
  }
}