@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vmin;
    position: absolute;
    width: 100%;
    background-color: transparent !important;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(89, 89, 89, 0.37);
    border: 2px solid rgba(114, 114, 114, 0.18);
    z-index: 1000;
    box-sizing: border-box;
}

.navbar * {
    padding: 0.5vh 0;
    font-family: 'Poppins', sans-serif;
}

#navbar-theme-light {
    color: white;
}

#navbar-theme-dark {
    color: black;
}

.logo-container {
    flex: 1;
}

.logo-container img {
    width: 20vmin;
    height: auto;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.links-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.links-container li {
    margin: 0 1.8vw;
    font-size: 1.1rem;
    transition: all 0.3s linear;
}

.links-container li:hover {
    scale: 1.1;
}
.links-container li .navbar-links{

    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s linear;
}

.sign-in-button {
    margin-left: 20px;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    color: black;
    background-color: white;
    border-color: transparent;
    border-radius: 10px;
    transition: all 0.3s linear;
    cursor: pointer;
    font-weight: 500;
    margin: 0.5vh 0;
}

.sign-in-button:hover { 
    scale: 1.04; 
}

/*movile devices*/
@media (max-width: 768px) {
    .links-container li{
        font-size: 0.6rem;
        margin: 0 1vw;
    }

    .sign-in-button {
        padding: 0.3rem 1rem;
        font-size: 0.6rem;
    }
}

.auth-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
